<div class="header">
    <div class="row">
    <div class="col-md-2">
        <img src="photos/bio.png" style="width:100px;margin-top:18px"/>
    </div>
    <div class="col-md-3">
        <h2>BioFresh</h2>
    </div>
    </div>

    <div class="row">
         <div class="col-md-offset-5">
        <h4><i>Manancare sanatoasa pentru mintea si corpul tau!</i></h4>
         </div>
    </div>
</div>

<div class="menuContent" ng-init="tab = 2; category = 2">
  <!--  <ul class="nav nav-pills nav-justified custom"> -->
  <ul class="nav navbar-nav custom">
      <li role="presentation"><a href ng-click="tab = 1"><i ng-class="tab === 1 ? 'fa fa-cutlery' :''"></i> Salatess{{ShoppingCart.nrItems}}aa</a></li>
      <li role="presentation"><a href ng-click="tab = 2"><i ng-class="tab === 2 ? 'fa fa-cutlery' :''"></i> Specialitati</a></li>
      <li role="presentation"><a href ng-click="tab = 3"><i ng-class="tab === 3 ? 'fa fa-cutlery' :''"></i> Vegetarian</a></li>
      <li role="presentation"><a href ng-click="tab = 4"><i ng-class="tab === 4 ? 'fa fa-cutlery' :''"></i> Desert</a></li>
      <li role="presentation">&nbsp &nbsp &nbsp&nbsp &nbsp <img src="photos/cart.png" class="cos"/></li>
    </ul>
</div>

<!-- <div class="row">
  <div class="col-md-3">ssd</div>

  <div class="col-md-6"> -->
    <div class="jumbotron">
      <div ng-repeat="item in items" ng-show="item.category == tab" class="col-md-6"> 
        <item-card item="item"></item-card>
      </div> 
    </div>
  <!-- </div>

  <div class="col-md-3"></div> -->




{{showOverlay}}
<div class="overlayModal" ng-show="showOverlay"></div>

<div class="footer">
  <div class="row">
    <div class="col-md-6" style="text-align:center;padding-top:10px">
      <p><i class="fa fa-phone"><b>0257355009</b></i></p>
      <p><i class="fa fa-map-marker"><b>Strada Abrud,12</b></i></p>
      <b>Arad, Romania</b>
    </div>
    <div class="col-md-6 pull-right" style="padding-top:65px">
        © Copyright 2013 foodpanda este o marcă înregistrată
    </div>

  </div>   
</div>

